* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Archive";
  src: url("./assets/Fonts/Archive-Regular.otf") format("opentype");
}
/* #2563EA */
body {
  font-family: Arial, Helvetica, sans-serif;
}
html {
  /* scroll-behavior: smooth; */
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  /* background-color: #000c24; */
  position: sticky;
  top: 0;
  left: 0;

  z-index: 80;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.left {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.left div {
  width: 10vh;
  height: 100%;
}
.logoName {
  font-family: "Archive";
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  gap: 20px;
  height: 100%;
}

.links {
  padding: 5px 10px;
  color: rgb(48, 48, 48);
  font-weight: 600;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

.right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.getStart {
  padding: 10px 20px;
  background-color: #2563ea;
  border-radius: 5px;
  border: none;
  color: white;
}

.Hero {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.startContent {
  width: 100%;
  height: 100%;
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aliceblue; */
  position: relative;
}

.welcome {
  font-size: 56px;
  color: #242424;
  font-family: Arial, Helvetica, sans-serif;
}

.brandname {
  font-size: 96px;
  font-family: "Archive";
  color: #2563ea;
}
.secondContent {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  /* display: none; */
}
.sleft,
.sright {
  flex: 1;
  padding: 40px;
}
.sleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bigCircle {
  position: absolute;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #eaac25;
  bottom: -40%;
  right: -10%;
  z-index: -2;
  /* display: none; */
}

.sPara {
  font-size: 1rem;
  margin-bottom: 12px;
  color: #242424;
}
.slogan {
  font-size: 55px;
  margin-bottom: 30px;
  line-height: 130%;
  margin-top: 15px;
  /* font-family: Archive; */
}
.pointrow,
.pointrow2 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  color: #161616;
}
.check {
  background-color: #eaac25;
  padding: 5px;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 10px;
}
span {
  color: #2563ea;
  font-weight: bold;
  transition: all 0.5s ease;
}
span:hover {
  transform: rotate(20%);
  color: #eaac25;
}
.tag {
  display: inline-flex;
  align-items: center;
  /* background-color: #2563ea34; */
  /* color: #2563ea; */
}
.circle {
  font-size: 9px;
  margin-right: 10px;
}

.whoweare {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.wleft,
.wright {
  padding: 40px;
  flex: 1;
}

.wright {
  align-content: center;
}
.wleft {
  position: relative;
}
.wpic {
  height: 100%;
}

.whoHeading {
  font-size: 50px;
  font-family: Archive;
}

.point {
  font-size: 20px;
  margin-right: 10px;
  color: #eaac25;
}
.wpara {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #242424;
  font-size: 16px;

  /* text-align: justify; */
}

.decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}
.coreServices {
  padding: 40px;
}
.serviceCard {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 3px 100px rgb(201, 201, 201);
  margin: 10px;
}
.coreSheading {
  font-size: 50px;
  font-family: Archive;
  margin-top: 50px;
  margin-left: 20px;
  text-align: center;
}
.iconcontainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2563ea4b;
  color: #2563ea;
}
.innerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.itemHeading {
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.cdescription {
  color: #242424;
}
.coreservicecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.coreServices {
  background-color: rgb(241, 241, 241);
  overflow: hidden;
}

.serviceHero {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.sherocontent {
  width: 100%;
  height: 100%;
  display: flex;
}
.shleft {
  flex: 1;
  padding: 40px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.shright {
  flex: 1;
  align-content: center;
  padding: 40px;
}
.sheroheading {
  font-size: 50px;
}
.hstagcontainer {
  display: flex;
}
.sherodescription {
  font-size: 16px;
  color: #242424;
  margin-top: 50px;
  margin-bottom: 30px;
  /* max-width: 600px; */
}
.sprow {
  display: flex;
  margin: 20px;
}
.sprow p {
  margin-left: 10px;
}
.spicon {
  font-size: 20px;
  color: #2563ea;
}
.exploreServicesbtn {
  padding: 10px 20px;
  color: white;
  background-color: #2563ea;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.serviceScardcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}
.mainservicesection {
  width: 100%;
  overflow: hidden;
}

.serviceSheading {
  font-size: 50px;
  font-family: Archive;
  margin-top: 30px;
  margin-bottom: 40px;

  text-align: center;
}
.mainServiceCard {
  width: 350px;
  box-shadow: 2px 3px 10px rgb(165, 165, 165);
  padding: 20px;
  border-radius: 10px;
}
.tophalf {
  text-align: center;
}
.tophalf h1 {
  font-size: 20px;
  margin-bottom: 25px;
}
.seicons {
  font-size: 30px;
  color: #3879e3;
  margin-bottom: 20px;
}
.brow {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #d1d5db;
  padding: 10px 0px;
}
.brow p {
  margin-left: 10px;
  color: #242424;
}
.subicons {
  font-size: 18px;
  color: #eaac25;
}

.whychooseussection {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  /* background-color: #242424; */
}
.slider {
  display: flex;
  width: 600vw;
  height: 100%;
  /* background-color: #2563ea; */
}
.slider section {
  width: 100vw;
  height: 100%;
  /* background-color: #242424; */
}

.whychmain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whychminner {
  position: relative;
  /* background-color: #242424; */
}
.whychminner h1 {
  font-size: 100px;
  font-family: Archive;
}
.box {
  position: absolute;
  background-color: #2563ea;
  color: white;
  padding: 10px;
  border: 5px solid white;
  outline: none;
  left: 50%;
  top: 70%;
  transform: translate(-50%) rotate(-8deg);
}
.box h1 {
  font-size: 60px;
}
/* .slider section:nth-child(even) {
  background-color: #2563ea;
} */
.whpsections {
  display: flex;
  overflow: hidden;
}
.whychleft,
.whychright {
  flex: 1;
  padding: 50px;
}
.whychright {
  align-content: center;
}
.whychright h1 {
  font-size: 50px;
  font-family: Archive;
}
.headwrapper {
  margin-bottom: 40px;
  position: relative;
}
.iconwrapper {
  width: 40px;
  height: 40px;
  background-color: #2563ea;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: -25px;
  border: 5px solid white;
  box-sizing: content-box;
  z-index: 50;
}
.whchicon {
  font-size: 20px;
  color: white;
}
.OurProcessSection {
  width: 100%;
  background-color: #f1f1f1;
  padding: 40px;
}

.ourPrHeading {
  font-size: 50px;
  text-align: center;
  font-family: Archive;
  margin-top: 10px;
  margin-bottom: 40px;
}

.ourCard {
  width: 400px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 3px 5px 10px rgb(201, 201, 201);
  position: relative;
  margin: 10px;
}
.ourCheading {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.ourIcon {
  color: #2563ea;
  font-size: 25px;
}
.ourCpara {
  color: #242424;
  font-size: 15px;
}
.step {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eaac25;
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #f1f1f1;
}
.step p {
  font-weight: bold;
}

.ourPrinner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.contactBanner {
  width: 100%;
  height: 50vh;
  background-color: #1e3a8a2c;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactBanner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #0008, #000);
  position: absolute;
  top: 0;
  left: 0;
}
.circle1 {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  background-color: #1e40af23;
  position: absolute;
  top: -70px;
  left: -80px;
}

.circle2 {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  background-color: #1e40af23;
  position: absolute;
  bottom: -70px;
  right: -80px;
}
.contentContaciner {
  z-index: 50;
  padding: 20;
  margin: 20px;

  text-align: center;
}
.mainContent h1 {
  font-size: 70px;
  color: white;
}
.mainContent p {
  color: #cbd5e1;
  margin-top: 20px;
}

.bannercontactContainer {
  display: flex;
  color: #96999d;
  padding: 10px 20px;
  justify-content: space-around;
  margin-top: 60px;
}
.bcontact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.bcontact p {
  margin-left: 20px;
}
.contactMainBody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 60px;
}
.cleft,
.cright {
  width: 28vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgb(216, 216, 216);

  padding: 30px;
  min-width: 400px;
}
.contactMainBody h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 40px;
  font-family: Archive;
}

.cleft p {
  color: #242424;
  margin-bottom: 15px;
}
.cleft div {
  margin-bottom: 30px;
}
.cleft input[type="text"],
textarea {
  width: 100%;

  border: 2px solid #242424;
  padding: 15px;
  border-radius: 10px;
  resize: none;
  color: white;
  outline: none;
}
input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #2563ea;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.curow {
  display: flex;
  margin-bottom: 10px;
}
.curow p {
  font-size: 17px;
  font-weight: bold;
  margin-left: 15px;
}
.cunit {
  margin-bottom: 30px;
}

.cunit > p {
  color: #686868;
}
.map {
  margin-top: 50px;
}
.map h1 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}
.maparea {
  width: 100%;
  height: 250px;
  border: 2px solid #23252c;
  border-radius: 10px;
}
.socials {
  margin-top: 20px;
  padding: 30px;
}
.socials h1 {
  font-size: 25px;

  text-align: center;
}
.icontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}
.icontainer div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2563ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sicons {
  font-size: 20px;
  color: #f4f4f6;
}
.picons {
  color: #2563ea;
  font-size: 20px;
}

.hamcontainer {
  width: 50px;
  height: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 50%;
  padding: 10px;
  position: fixed;
  top: 25px;
  right: 25px;
  display: none;
  z-index: 9999;
  cursor: pointer;
}
.line {
  width: 95%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 20px;
}
.footer {
  width: 100%;
  background-color: #00091b;
  color: white;
  padding-bottom: 15px;
}
.fottercontent {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
}
.footerleft,
.footermiddle,
.footerright {
  flex: 1;
}
.fscontainer {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.footermiddle p {
  margin-bottom: 20px;
}
.footerRow {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.footerRow p {
  font-size: 15px;
  margin-left: 20px;
}
